**/bin/
**/obj/
.vs/
.vscode/
.idea/
*.user
*.suo
*.nupkg
.env
coverage/
TestResults/
artifacts/
src/Web/RestaurantFlow.Web/wwwroot/lib/
src/Web/RestaurantFlow.Web/wwwroot/sample-data/
src/Web/RestaurantFlow.Web/wwwroot/*.png
